Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-storages
boto3
pypdf>=4.0
pdf2image>=1.17
pytesseract>=0.3
gunicorn
psycopg2-binary
dj-database-url>=2.0
whitenoise
celery>=5.3
redis>=5.0
